.form {
	display: flex;
  	flex-direction: column;
	flex: 0 1 38%;
  	max-width: 600px;
  	padding: 32px;
  	background-color: #f0f0f0;
  	border-radius: 10px;
  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: 20px;
	align-self: flex-start;
	@media (max-width:992px) {
		order: 3;		
		flex: 1 1 50%;
	}
	@media (max-width:480px) {
		margin: 20px auto;
		max-width: 310px;
		padding: 10px;
	}

	& label {
		display: block;
  		font-weight: bold;
	}

	& input {
		font-family: 'Roboto';
		width: 100%;
		font-size: 20px;
		padding: 8px;
  		border: none;
  		background-color: #e9e9e4;
  		border-radius: 5px;
  		box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
              inset -2px -2px 5px rgba(255, 255, 255, 0.5);
		@media (max-width:480px){
		width: 290px;
		font-size: 15px;
		}
	}

	&__error {
		color:red;
		height: 30px;
		font-size: 20px;
		padding: 8px 0;
		@media (max-width:480px){
			height: 20px;
			font-size: 16px;
		}
	}
}

.btn-form {
	background-color: #4a86e8;
	color: #fff;
	padding: 10px 16px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
					-2px -2px 5px rgba(255, 255, 255, 0.5);
	@media (max-width:480px) {
		font-size: 16px;
	}

	&:hover {
		background-color: #3972c1;
	}
 }
 