.card {
	flex: 0 1 28%;
	padding: 10px;
	background-color: #ffffff;
	box-shadow:  0 2px 5px rgba(48,48,48,.05);;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
	@media (max-width:992px) {
		flex: 1 1 25%;
	}
	@media (max-width:480px) {
		flex: 1 1 15%;
	}
	 &:hover {
		transform: scale(1.05);
	 }
	&__container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 10px;
		padding: 10px;
		position: relative;
	}
	&__img {
		flex: 1 1 55%;
		padding-bottom: 110%;
		position: relative;
		@media (max-width:480px) {
		}
	}

	&__img  img{
		position: absolute;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	object-fit: cover;
 }	

	&__name {
		align-self: center;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		height: 43px;
		display: flex;
  		align-items: center;
  		justify-content: center;
		  @media (max-width:768px) {
			height: 75px;
			width:60px;
			font-size: 13px;
		  }
		  @media (max-width:480px) {
			height: 70px;
			width:53px;
			font-size: 11px;
		  }
	}

	&__price  {
		align-self: center;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 10px;
		@media (max-width:768px) {
			font-size: 13px;
		  }
		@media (max-width:480px) {
			font-size: 10px;
		  }
	}

	&__price span  {
		font-size: 17px;
		font-style: italic;
		font-weight: 700;
		padding-left: 10px;
		@media (max-width:768px) {
			font-size: 14px;
			padding-left: 0;
		  }
		@media (max-width:480px) {
			font-size: 12px;
		  }
	}

	&__basket {
		align-self: center;
	}

}

/* basket catds */

.basket-card {
	padding: 10px;
	background-color: #ffffff;
	box-shadow:  0 2px 10px rgba(48,48,48,.05);;
	border-radius: 10px;
	width: 450px;
	margin: 5px 10px;
	@media (max-width:480px){
		width: 290px;
	}

	&__container {
		display: flex;
		justify-content: center;
		gap: 10px;
		padding: 10px;
		position: relative;
	}
	&__img {
		flex: 0 1 50%;
		padding-bottom: 45%;
		align-self: center;
		position: relative;
		@media (max-width:480px){
			padding-bottom: 37%;
		}
	}

	&__img  img{
		position: absolute;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	object-fit: cover;
 }	

   &__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 15px;
		margin-left: 15px;
	}

	&__name {
		align-self: center;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		height: 43px;
		width: 155px;
		display: flex;
  		align-items: center;
  		justify-content: center;
		
		@media (max-width:480px){
		font-size: 13px;
		}
	}

	&__price  {
		align-self: center;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 10px;
	}

	&__price span  {
		font-size: 17px;
		font-style: italic;
		font-weight: 700;
		padding-left: 10px;
	}

	&__basket {
		align-self: center;
	}

	&__btn-cross {
		position: absolute;
		top: -8px;
		right: -15px;
		z-index: 2;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
}

.amount-card {
	display: flex;
	justify-content: center;

	&__btn-minus, &__btn-plus {
		width: 25px;
		height: 25px;
		font-size: 25px;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		border-radius: 25%;
		border: 1px solid #c5c4c4;
		cursor: pointer;
	} 

	&__count {
		margin: 0 15px;
		width: 18px;
		text-align: center;
		font-weight: 700;
	}
}

//history

.history {
	margin: 20px;
	padding: 20px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	@media (max-width:480px){
		width: 90%;
	}
	&__title {
		text-align: center;
		font-size: 20px;
		margin-bottom: 30px;
	}
	&__find {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		margin-bottom: 20px;
		padding: 15px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		border: 1px solid #ccc;
		border-radius: 10px;
		label {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
		   font-weight: 600;
			@media (max-width:768px){
				font-size: 15px;
			}		
			@media (max-width:480px){
				font-size: 13px;
			}	
		}
	 
		input[type="text"] {
		  padding: 5px;
		  border: 1px solid #ccc;
		  border-radius: 5px;
		  margin-top: 5px;
		  width: 25vw;
		  font-size: 18px;
		  @media (max-width:992px){
			width: 30vw;
		 }	
		 @media (max-width:768px){
			font-size: 15px;
			width: 50vw;
		 }	
		}
	 }
	 &__list {
		list-style-type: none;
		padding: 10px;
		display: flex;
		gap: 10px;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		border: 1px solid #ccc;
		border-radius: 10px;
		min-height: 14vh;
	 }
 } 
 
 .item-history {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	flex: 0 1 35%;
	align-self: flex-start;
	@media (max-width:992px){
		flex: 0 1 46%;
	}
	@media (max-width:768px){
		flex: 0 1 70%;
	}
	@media (max-width:480px){
		flex-grow: 1;
		flex-wrap: wrap;
	}
 
	&:last-child {
	  margin-bottom: 0;
	}
 
	&__element {
	  font-weight: 600;
	}
	&__element span {
		font-weight: normal;
	 }
 
	&__cards {
	  display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  gap: 10px;
	  margin-bottom: 10px;
	}

	&__total {
		font-weight: bold;
		font-size: 16px;
		text-align: center;
	 }
}
.history-card {	 
	 flex-basis: calc(33.33% - 10px);
	 padding: 10px;
	 background-color: #f9f9f9;
	 border: 1px solid #ddd;
	 border-radius: 5px;
	 display: flex;
	 align-items: center;
	 gap: 10px;
	 margin-top: 10px;
 
	 &__img {
		position: relative;
		width: 35px;
		height: 45px;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	 }
 
	 &__content {		
		font-size: 14px;
	 }
		}
	
 
	
 