.sidebar {
	background-color: #f9f9f9;
  	padding: 20px;
  	border-radius: 5px;
  	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-right: 20px;
	flex: 0 1 26%;
	@media (max-width:992px){
		flex: 0 1 23%;
	}
	@media (max-width:480px) {
		padding: 5px;
		flex: 0 1 15%;
	}
	&__list {
		display: flex;
		flex-direction: column;
		list-style-type: none;
  		padding: 0;
	}
	&__item {
		display: flex;
		align-items: center;
		flex:  0 1 100%;
		margin-bottom: 10px;
		transition: all 0.3s ease 0s;
		@media (max-width:480px) {
			flex-direction: column;
			align-items: stretch;
			justify-content: center;
		}

		&:hover {
			background-color: #e6e6e6;
			transform: scale(1.1);
			cursor:pointer;
			border-bottom-left-radius: 25%;
         border-top-left-radius: 25%;
		}
	}
	&__item.active img{
		filter: none;
	}
	&__img {
		padding-bottom: 42%;		
		margin-right: 20px;
		position:relative;
		flex: 0 0 47%;
		@media (max-width:992px){
			flex: 0 0 45%;
		}
		@media (max-width:768px){
			flex: 0 0 42%;
			margin-right: 10px;
		}
		@media (max-width:480px){
			padding-bottom: 75%;
			margin:0 5px
		}
	}
	&__img img {
		position: absolute;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	object-fit: cover;
		border-radius: 25%;
		filter: grayscale(100%);
	}

	&__desc {
		font-weight: bold;
  		color: #555555;
		text-transform: uppercase;
		padding-right: 20px;
		flex: 0 1 30%;

		@media (max-width:992px){
			padding-right: 5px;
			font-size: 13px;
		}
		@media (max-width:768px){
			padding-right: 0;
			font-size: 10px;
		}
		@media (max-width:480px){
			align-self: center;
		}
	}
}