.footer {
	background-color: #ffe048ef;
	padding: 10px;
	text-align: center;
	box-shadow: inset  -6px 10px 20px rgba(0, 0, 0, 0.3);

	&__text {
		color: #cf4e4e;
		font-size: 23px;
		font-weight: bold;
		text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
		@media (max-width:480px){
			font-size: 15px;
		}
	 }
	 &__info {
		color: #000000;
		font-size: 14px;
		margin-bottom: 10px;
		font-weight: 700;
		@media (max-width:480px){
			font-size: 11px;
		}
	 }
 }
 
