/*-----Обгортка-----*/
.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display:flex;
	flex-direction: column;
}
/*-----Контейнер-----*/
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
	@media (max-width:480px) {
		padding: 10px;
	}
}

html, body {
	height: 100%;
}
.cards {
	background-color: rgb(251, 251, 251);
	width: 100%;

	&__container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@media (max-width:480px) {
			justify-content: center;
		}
	}

	&__title{
		text-align: center;
		flex: 0 1 100%;
	}
	&__none {
		display: flex;
		justify-content: center;
		padding: 10px;
	}
}

.page {
	display: flex;
	justify-content: center;
	flex: 1 1 auto;	
}