.cards__body {
	display: flex;
	justify-content: center;
	// align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	background-color: rgb(251, 251, 251);
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 100%;
	flex: 0 1 63%;
	@media (max-width:768px){
		flex: 1 1 54%;
		gap: 5px;
		padding: 5px;
	}
	@media (max-width:480px){
		// gap: 5px;
		// padding: 5px;
		flex: 1 1 60%;
	}
}

.basket-cards{
   &__body {
   	display: flex;
   	flex-direction: column;
   	justify-content: center;
   	align-items: center;
   	gap: 10px;
		margin-top: 20px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		flex: 0 1 50%;
		@media (max-width:992px){
			flex: 1 1 50%;
		}
		@media (max-width:480px){
			margin: 0 auto;
		}
   }

	&__total-amount {
		margin: 10px 0 10px 0;
		width: 85%;
		font-size: 21px;  
  		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  		background-color: #f8f8f8;
  		padding: 10px;
  		border-radius: 8px;
  		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		text-align: center;
		@media (max-width:992px){
			order: 3;
		}
		@media (max-width:480px){
			// width: 310px;
			// margin: 0;
			font-size: 16px;
		}
	}

	&__total-amount span {
		font-weight: bold;
	}
}